@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

@theme {
  --color-light: hsla(0, 0%, 100%, 0.1);
  --color-active: hsla(0, 0%, 100%, 0.15);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background-color: #ffffff;
}
